<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceTracker</title>
</head>
<body>
    <h2 style="text-align: center;">Finance Tracker</h2>
    <div class="container">
        <h2>Login</h2>
        <form method="get">
            <label for="username">Username: </label>
            <input type="text" name="username">
            
            <br style="margin: 15px 0;">
            
            <label for="password">Password: </label>
            <input type="text" name="password">

            <br>
            <button type="submit">Login</button>
        </form>
        <form method="get" action="/register">
            <button type="submit">Register?</button>
        </form>
    </div>
</body>
</html>