<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FT</title>
</head>
<body>
    <h2>Finance Tracker v0.1</h2>
    <div>
        <form>
            <select name="categories">
                <option hidden disabled selected>-- Select Category --</option>
                <option>Groceries</option>
                <option>Leisure</option>
                <option>Electronics</option>
                <option>Utilities</option>
                <option>Clothing</option>
                <option>Health</option>
                <option>Others</option>
            </select>
            <input type="number">
            <input type="date">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>