<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceTracker</title>
</head>
<body>
    <h2 style="text-align: center;">Finance Tracker</h2>
    <div style="display: flex; flex-direction:column; align-items: center; gap: 5px;">
        <form method="post" action="/add" style="margin-bottom: 10px;">
            <select name="categories">
                <option hidden disabled selected>-- Select Category --</option>
                <option value="groceries">Groceries</option>
                <option value="leisure">Leisure</option>
                <option value="electronics">Electronics</option>
                <option value="utilities">Utilities</option>
                <option value="clothing">Clothing</option>
                <option value="health">Health</option>
                <option value="others">Others</option>
            </select>
            <input name="price" type="number">
            <input name="date" type="date">
            <button type="submit">Submit</button>
        </form>
        
        <div>
            <input type="radio" name="filter">
            <label for="week">Past Week</label>

            <input type="radio" name="filter">
            <label for="month">Past Month</label>

            <input type="radio" name="filter">
            <label for="3month">Past 3 Months</label>
            
            <br></br>
            <label for="start">Custom: </label>
            <input type="date" name="start">
            <span>-</span>
            <input type="date" name="end">
        </div>

        {% for expense in collections %}
            <ul class="expense">
                <l1>{{ expense['category'], expense['value'], expense['date'] }}</l1>
                <form method="post" action="{{ url_for('delete', id=expense['_id']) }}">
                    <input type="submit" value="Delete">
                </form>
                <form method="post" action="{{ url_for('stage_update', id=expense['_id']) }}">
                    <input type="submit" value="Update">
                </form>
            </ul>
        {% endfor %}
    </div>
</body>
</html>