<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceTracker</title>
</head>
<body>
    <h2 style="text-align: center;">Finance Tracker</h2>
    <div style="display: flex; flex-direction:column; align-items: center; gap: 5px;">
        <form method="post" action="{{ url_for('update', id=_id) }}" style="margin-bottom: 10px;">
            <p>{{ _id }}</p>
            <select name="categories">
                <option hidden disabled selected>-- Select Category --</option>
                <option value="groceries">Groceries</option>
                <option value="leisure">Leisure</option>
                <option value="electronics">Electronics</option>
                <option value="utilities">Utilities</option>
                <option value="clothing">Clothing</option>
                <option value="health">Health</option>
                <option value="others">Others</option>
            </select>
            <input name="price" type="number">
            <input name="date" type="date">
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>